# Dossier de build CMake
/build/

# Fichiers Visual Studio
*.user
*.suo
.vs/

# Binaires
*.exe
*.obj
*.pdb
*.ilk

# Scènes générées par l'éditeur
examples/05_editor/scene.json

# Layout ImGui (généré au runtime)
imgui.ini
